<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
	<head th:fragment="head">  
		<meta charset="ISO-8859-1">		
		<title>Tiendas Mass - Inventario</title>
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
			<link type="text/css" href="static/css/style.css" th:href="@{/css/style.css}" rel=StyleSheet>
			<script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	</head>
	<body>
		<header th:fragment="header">
		<br>
		<nav>
			<div class="logo"><a th:href="@{/Inicio}"><img th:src="@{/imagenes/logo.png}" width="200" height="60" /></a></div>
			<ul class="links">
				<li><a th:href="@{/alertas}">Configuración de Alertas</a></li>
				<li><a th:href="@{/reportes}">Reportes</a></li>
				<li><a th:href="@{/listarPedido}">Pedidos</a></li>
				<li><a th:href="@{/pedido}">Orden de Pedido</a></li>
				<li><a th:href="@{/Mantenimiento}">Mantenimiento</a></li>	
				<li><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p></li>							    			 
				<li>
					<form th:action="@{/logout}" method="post">
						<input type="submit" class="btn btn-warning" value="Cerrar Sesion"/>            	
        			</form>
				</li>
			</ul>
			
		</nav>	
		</header>
		<div class="container">
			
		</div>
		<footer id="footer" th:fragment="footer" class="text-center text-white fixed-bottom">
			<div class="container">
				<p>&copy; Tiendas Mass. Todos los derechos reservados. <br> Contacto: soporte@mass.com</p>
			</div>	
				
			<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" 
					integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" 
					crossorigin="anonymous">
			</script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" 
				integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" 
				crossorigin="anonymous">
			</script>
			<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" 
				integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" 
				crossorigin="anonymous">
			</script>
		</footer>
</body>
</html>