<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head th:replace="plantilla/template :: head">
	<meta charset="UTF-8">	
</head>
<body>
	<header th:replace="plantilla/template :: header"></header>
		<div style="padding: 50px;">
		<br><br>
		<h1 style="text-align: center;color: black;">CATEGORÍAS</h1>
		<a th:href="@{/crearCategoria}" class="btn btn-primary">Agregar Nueva Categoría</a><br><br>
		<table class="table">
			<thead style="background-color:#aa6307; color: white;">
				<tr>
					<th>ID</th>
					<th>Descripción</th>
					<th>Fecha de Registro</th>
					<th></th>
				</tr>				
			</thead>
			<tbody>
				<tr th:each="categoria:${categorias}">
					<td th:text="${categoria.IdCategoria}"></td>
					<td th:text="${categoria.Descripcion}"></td>
					<td th:text="${categoria.FechaRegistro}"></td>
					<td>
						<a th:href="@{/editarCategoria/}+${categoria.IdCategoria}" class="btn btn-warning">Editar</a>
						<a th:href="@{/eliminarCategoria/}+${categoria.IdCategoria}" class="btn btn-danger">Eliminar</a>

					</td>
				</tr>				
			</tbody>
		</table>
	</div>
	<br><br><br><br>
	<footer th:replace="plantilla/template :: footer"></footer>
</body>
</html>