<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head th:replace="plantilla/template :: head">	
</head>
<body>
	<header th:replace="plantilla/template :: header"></header>
    <br><br><br><br>
	<div class="report-container">
	        <h2 style="text-align: center; margin-bottom: 20px;">REPORTES</h2>
	        <form style="display: flex; flex-direction: column;">
	            <label for="categoria" style="font-size: 18px; margin-bottom: 10px; display: block; width: 100%;">Categoría</label>
	            <input type="text" id="categoria" name="categoria" placeholder="Categoría" required style="padding: 10px; width: 100%; max-width:700px; border-radius: 20px;border: 1px solid #ccc; margin-bottom: 20px; font-size: 16px;">
	
	            <div class="filter-options">
	                <div class="option">
	                    <label for="mes" style="font-size: 18px; margin-bottom: 10px; display: block; width: 100%;">Mes</label>
	                    <input type="text" id="mes" name="mes" placeholder="Mes" style="padding: 10px; width: 100%; max-width: 500px; border-radius: 20px;border: 1px solid #ccc; margin-bottom: 20px; font-size: 16px;">
	                </div>
	                <div class="option">
	                    <label for="anio"style="font-size: 18px; margin-bottom: 10px; display: block; width: 100%;">Año</label>
	                    <input type="text" id="anio" name="anio" placeholder="Año" style="padding: 10px; width: 100%; max-width: 500px; border-radius: 20px;border: 1px solid #ccc; margin-bottom: 20px; font-size: 16px;">
	                </div>
	            </div>
				
				<div class="filter-options">
					   <div class="option">
						<button type="submit" class="generate-btn">Generar</button>
					   </div>            
					  <div class="option">
						<div class="export-options">
							<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
							<label 	class="export-icon">Exportar a</label> 
							<a href="#" class="export-icon"><img src="iconos/excel.png" alt="Excel"></a>
					    	<a href="#" class="export-icon"><img src="iconos/pdf.png" alt="PDF"></a>  
						</div>  
					 </div>
				</div>
				
				
				
	           
			
	           
	        </form>
	    </div>
	
	<footer th:replace="plantilla/template :: footer"></footer>
</body>
</html>